@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

:root{
    --color1:#FFF200 ;
    --color2: #003CFF ;
    --color3: #0077FF ;

}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
/*Header computer*/
header{
    height: 80px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background :linear-gradient(to right, var(--color2), var(--color3));
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
}
.logo{
    width: 50vw;
}
.logo img{
    width: 180px;
}
.menu{
    display: flex;  
    width: 400px ;
    justify-content: space-around;
    padding: 8px;

}
.menu ul{
    list-style: none;
    text-decoration: none;

    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px
}

.menu li{
    font-size: 20px;
    font-weight: 400;
}

.menu a{
    text-decoration: none;
    color: aliceblue;
}

/*Header tablet/smartphone*/
.menu-toggle {
    display: none; /* Escondido por padrão */
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    transition:  0.3s ;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    transition:  0.3s linear;
  }
  

.menu-toggle.active .bar:nth-child(1) {
 transform: translateY(8px) rotate(45deg); 
 }

.menu-toggle.active .bar:nth-child(2) {
 opacity: 0; 
}

.menu-toggle.active .bar:nth-child(3) {
 transform: translateY(-8px) rotate(-45deg);
}

  @media (max-width: 768px) {
    .menu {
      display: none; 
      width: 100%;
      background:linear-gradient(to right, #005AFF, var(--color3));
      position: absolute;
      top: 0px;
      right: 0px;
      width: 50vw;
    }
  
    .menu ul {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  
    .menu li {
      margin: 10px 0;
    }
  
    .menu-toggle {
      display: flex; 
      z-index: 10;
      position: absolute;
      top: 20px;
      right: 20px;
      transition: 0.3s;
    }
  
    .menu.active {
      display: block; 
    }
  }

  

/*Main*/
.imgBanner{
  width: 100vw;
}
.products{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  gap: 35px;
  
}

.imgcontainer:hover .products img {
  filter: brightness(0.3); /* Esbranquiça a imagem */
}

.imgcontainer:hover .text {
  opacity: 1; /* Torna o texto visível */
}

.imgcontainer{
  position: relative;
  background-color: #fff;
  transition: opacity 0.6s ease;
}

.imgcontainer:hover img{
  opacity: 0.5;
}
.image{
  border-radius: 200px;
  width: 200px;

}

.text{
  position: absolute;
  bottom: 45%;
  left: 18%;
  font-weight: 700;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.6s ease;
  color: #231F20;
}

.text:hover{
  opacity: 1;
}

@media(max-width:1024px){
  .products .imgcontainer:nth-child(5) {
    display:none
   }
}
    @media(max-width:948px) {
      .image {
        width: 100px;
      }
  
      .text {
        font-size: 70%;
        font-weight: 700;
        bottom: 45%;
        left: 15%;
      }
      
    }

    @media(max-width:530px){
      .products .imgcontainer:nth-child(4) {
        display:none
      }
      .partnerLogo img:nth-child(5) {
        display:none
      }
    }

main{
  margin-top: 80px;
}

.container1{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background :linear-gradient(to right, var(--color3), var(--color2));
  justify-content: space-between;
  padding: 2vw;
  align-items: center;
}

.container1 h2{
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.container1 div{
  width: 48vw;
  padding: 10px;
  display: flex; /* Torna o div um flex container */
  justify-content: center; /* Alinha a imagem horizontalmente */
  align-items: center;
  flex-direction: column;
}

.container1 p{
  color: #fff;
  text-align: right;
  padding: 20px;
}

.container1 img{
  width: 90%;
  border-radius: 10px;
}

.button{
  background-color: var(--color1);
  color: #231F20;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 10px;
}

@media(max-width: 768px){
  .container1{
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .container1 p{
    text-align: center;
  }

  .container1 div{
    width: 100%;
  }
}

.container3{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.container3 h2{
  border-top: 3px dashed #231F20;
}
.areas{
  width: 100vw;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 50px;
}

.areas div, .areas a{
  width: 200px;
  height: 200px;
  background-size:cover ;
  border-radius: 20px;
}

#img1 {
  background-image: url('../images/1.png');
}
#img2 {
  background-image: url('../images/3.png');
}
#img3 {
  background-image: url('../images/5.png');
}

/* Trocar imagem ao passar o mouse */
#img1:hover {
  background-image: url('../images/2.png');
}
#img2:hover {
  background-image: url('../images/4.png');
}
#img3:hover {
  background-image: url('../images/6.png');
}

.partners{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0px;
  gap: 15px;
  align-items: center;
}
.partnerLogo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
}

.partnerLogo img{
  width: 150px;
  margin: 0px 10px;
  transition: 0.3s ease;  
}

.partnerLogo img:hover{
  width: 155px;
  height: auto;
  
}
.partners h2{
  border-top: 4px dashed #231F20;;
}

.whatsapp{
  width: 80px;
  position: fixed;
  right: 20px;
  bottom: 30px;
}
/*Footer*/

footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background :linear-gradient(to bottom, var(--color2), var(--color3));
  border-top: 1px solid #231F20;
}

footer h4, h5,p, a{
color: #fff;
font-weight: 190%;
}
.logofooter{
  width: 96vw;
  margin:2vw;
}

.logofooter img{
  width: 140px;
}

.item div{
  display: flex;
}

.item img{
  height: 18px;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* Cria duas colunas */
  grid-gap: 20px; /* Espaço entre as colunas e linhas */
  margin-bottom: 20px; /* Espaço após o container */
  padding: 10px;
  
}

.block h4,p{
  text-align: center;
}

.block{
  width: 48vw;
  margin: 0px 2vw;
  padding: 10px;
}
.row {
  display: contents; /* Garantir que o grid não se repita dentro de cada linha */
}

.item h5{
  text-align: left;
}

.content {
  display: flex;
  align-items: center;
}

.content img {
  margin-right: 10px;
}

.instaicon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.instaicon img{
  height: 20px;
}

.developed, .developed a{
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 50px;
  background-color: #231F20;
  color: #fff;
}

.developed a, .instagram{
  text-decoration:underline;
}

@media (max-width: 1308px) {
  .container {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 937px) {
  .container {
      grid-template-columns: 1fr; 
  }
}


