@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

:root{
    --color1:#FFF200 ;
    --color2: #003CFF ;
    --color3: #0077FF ;

}

a{
  text-decoration: none;
}
/*Header computer*/
header{
    height: 80px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background :linear-gradient(to right, var(--color2), var(--color3));
}
.logo{
    width: 50vw;
}
.logo img{
    width: 180px;
}
.menu{
    display: flex;  
    width: 400px ;
    justify-content: space-around;
    padding: 8px;

}
.menu ul{
    list-style: none;
    text-decoration: none;

    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px
}

.menu li{
    font-size: 20px;
    font-weight: 400;
}

.menu a{
    text-decoration: none;
    color: aliceblue;
}

/*Header tablet/smartphone*/
.menu-toggle {
    display: none; /* Escondido por padrão */
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    transition:  0.3s ;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    transition:  0.3s linear;
  }
  

.menu-toggle.active .bar:nth-child(1) {
 transform: translateY(8px) rotate(45deg); 
 }

.menu-toggle.active .bar:nth-child(2) {
 opacity: 0; 
}

.menu-toggle.active .bar:nth-child(3) {
 transform: translateY(-8px) rotate(-45deg);
}

  @media (max-width: 768px) {
    .menu {
      display: none; 
      width: 100%;
      background:linear-gradient(to right, #005AFF, var(--color3));
      position: absolute;
      top: 1px;
      right: 1px;
      width: 50vw;
    }
  
    .menu ul {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  
    .menu li {
      margin: 10px 0;
    }
  
    .menu-toggle {
      display: flex; 
      z-index: 10;
      position: absolute;
      top: 20px;
      right: 20px;
      transition: 0.3s;
    }
  
    .menu.active {
      display: block; 
    }
  }

  

/*Main*/


.whatsapp{
  width: 80px;
  position: fixed;
  right: 20px;
  bottom: 30px;
}
/*Footer*/

footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color1);
  padding: 2vw;
}

footer h4, h5,p, a{
color: #000000;
}
.logofooter{
  width: 96vw;
}

.logofooter img{
  width: 140px;
}

.item div{
  display: flex;
}

.item img{
  height: 18px;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* Cria duas colunas */
  grid-gap: 20px; /* Espaço entre as colunas e linhas */
  margin-bottom: 20px; /* Espaço após o container */
  padding: 10px;
  
}

.block h4,p{
  text-align: center;
}

.block{
  width: 48vw;
  padding: 10px;
}
.row {
  display: contents; /* Garantir que o grid não se repita dentro de cada linha */
}

.item h5{
  text-align: left;
}

.content {
  display: flex;
  align-items: center;
}

.content img {
  margin-right: 10px;
}

.developed{
  text-align: center;
  width: 96vw;
}

@media (max-width: 1308px) {
  .container {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 937px) {
  .container {
      grid-template-columns: 1fr; 
  }
}